{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-lg-10 col-md-12">
        <div class="card p-5" style="border-radius: 20px; background-color: #ffffff; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);">
            <h1 class="text-center mb-4">Crear Denuncia</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <!-- Campo: Denunciado -->
                    <div class="col-md-6 mb-4">
                        <div class="form-group">
                            <label for="id_denunciado" class="form-label">Quiero denunciar a</label>
                            {{ form.denunciado }}
                        </div>
                    </div>
                    <!-- Campo: Motivo -->
                    <div class="col-md-6 mb-4">
                        <div class="form-group">
                            <label for="id_motivo" class="form-label">Motivo</label>
                            {{ form.motivo }}
                        </div>
                    </div>
                    <!-- Campo: Descripción -->
                    <div class="col-md-12 mb-4">
                        <div class="form-group">
                            <label for="id_descripcion" class="form-label">Descripción</label>
                            {{ form.descripcion }}
                        </div>
                    </div>
                    <!-- Campo: Contacto de Urgencia -->
                    <div class="form-group">
                        <label for="id_contacto_urgencia" class="form-label">Contacto para urgencia</label>
                        {{ form.contacto_urgencia }}
                        {% if form.contacto_urgencia.errors %}
                            <div class="text-danger">
                                {% for error in form.contacto_urgencia.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    
                </div>

                <!-- Evidencias -->
                <h2 class="text-center mb-4">Cargar Evidencias</h2>
                <div class="row">
                    {{ formset.management_form }}
                    {% for evidencia_form in formset %}
                        <div class="col-md-12 mb-4">
                            <div class="form-group">
                                {{ evidencia_form.as_p }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Botón Crear Denuncia -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-file-alt me-1"></i> Crear Denuncia</button>
                </div>
            </form>

            <!-- Botón Volver al Inicio -->
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'home' %}" class="btn btn-secondary px-4" style="border-radius: 10px;">
                    <i class="fas fa-home"></i> Volver al Inicio
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
