{% extends "base.html" %}
{% load static %}
{% block title %}Registrar Usuario{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-8">
        <div class="card p-4" style="border-radius: 15px; background-color: #ffffff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
            <h2 class="text-center">Registrar Usuario</h2>
            <form method="post">
                {% csrf_token %}

                <!-- Personal Information Section -->
                <h5>Información Personal</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.rut.label_tag }}
                            {{ form.rut }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.fecha_nacimiento.label_tag }}
                            {{ form.fecha_nacimiento }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.telefono.label_tag }}
                            {{ form.telefono }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            {{ form.direccion.label_tag }}
                            {{ form.direccion }}
                        </div>
                    </div>
                </div>

                <!-- Job Information Section -->
                <h5>Información del Trabajo</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.cargo.label_tag }}
                            {{ form.cargo }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.fecha_contratacion.label_tag }}
                            {{ form.fecha_contratacion }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.grupo.label_tag }}
                            {{ form.grupo }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.salud.label_tag }}
                            {{ form.salud }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.afp.label_tag }}
                            {{ form.afp }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.horario_asignado.label_tag }}
                            {{ form.horario_asignado }}
                        </div>
                    </div>
                </div>

                <!-- Security Section -->
                <h5>Seguridad</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.password1.label_tag }}
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            {{ form.password2.label_tag }}
                            {{ form.password2 }}
                        </div>
                    </div>
                </div>

                <!-- Buttons -->
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary me-2">Registrar</button>
                    <a href="{% url 'home' %}" class="btn btn-outline-dark">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
