{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-lg-10 col-md-12">
        <div class="card p-5" style="border-radius: 20px; background-color: #ffffff; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);">
            <h1 class="text-center mb-4">Mi Perfil</h1>
            <div class="row justify-content-center">
                <div class="col-md-4 d-flex justify-content-center mb-4">
                    {% if user.foto_perfil %}
                        <img src="{{ user.foto_perfil.url }}" class="img-thumbnail shadow-lg" alt="Foto de Perfil" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;">
                    {% else %}
                        <img src="{% static 'img/default_profile.png' %}" class="img-thumbnail shadow-lg" alt="Foto de Perfil por Defecto" style="border-radius: 50%; width: 200px; height: 200px; object-fit: cover;">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th class="bg-light">Nombre de Usuario:</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Nombre:</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Apellido:</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Fecha de Registro:</th>
                                <td>{{ user.date_joined|date:"d-m-Y" }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'edit_profile' %}" class="btn btn-primary px-4 d-flex align-items-center me-2" style="border-radius: 10px;">
                    <i class="fas fa-user-edit me-1"></i> Editar Perfil
                </a>
                <a href="{% url 'edit_profile_photo' %}" class="btn btn-primary px-4 d-flex align-items-center me-2" style="border-radius: 10px;">
                    <i class="fas fa-camera me-1"></i> Cambiar Foto de Perfil
                </a>
                <a href="{% url 'cambiar_contrasena' %}" class="btn btn-primary px-4 d-flex align-items-center" style="border-radius: 10px;">
                    <i class="fas fa-lock me-1"></i> Cambiar Contraseña
                </a>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'home' %}" class="btn btn-secondary px-4" style="border-radius: 10px;"><i class="fas fa-home"></i> Volver al Inicio</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
