--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: gestiones_area; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_area (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    empresa_id bigint NOT NULL
);


ALTER TABLE public.gestiones_area OWNER TO postgres;

--
-- Name: gestiones_area_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_area ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_area_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_asistencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_asistencia (
    id bigint NOT NULL,
    fecha date NOT NULL,
    hora_entrada time without time zone,
    hora_salida time without time zone,
    colaborador_id bigint NOT NULL
);


ALTER TABLE public.gestiones_asistencia OWNER TO postgres;

--
-- Name: gestiones_asistencia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_asistencia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_asistencia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_beneficio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_beneficio (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    descripcion text NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    creado_por_id bigint NOT NULL,
    fecha_actualizacion timestamp with time zone NOT NULL,
    imagen character varying(100)
);


ALTER TABLE public.gestiones_beneficio OWNER TO postgres;

--
-- Name: gestiones_beneficio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_beneficio ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_beneficio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_cargafamiliar; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_cargafamiliar (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    apellido character varying(100) NOT NULL,
    rut character varying(12) NOT NULL,
    parentesco character varying(50) NOT NULL,
    fecha_nacimiento date,
    usuario_id bigint NOT NULL,
    archivo character varying(100),
    tipo_certificado character varying(20)
);


ALTER TABLE public.gestiones_cargafamiliar OWNER TO postgres;

--
-- Name: gestiones_cargafamiliar_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_cargafamiliar ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_cargafamiliar_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_curso; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_curso (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    descripcion text NOT NULL,
    supervisor_id bigint NOT NULL
);


ALTER TABLE public.gestiones_curso OWNER TO postgres;

--
-- Name: gestiones_curso_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_curso ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_curso_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_curso_participantes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_curso_participantes (
    id bigint NOT NULL,
    curso_id bigint NOT NULL,
    customuser_id bigint NOT NULL
);


ALTER TABLE public.gestiones_curso_participantes OWNER TO postgres;

--
-- Name: gestiones_curso_participantes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_curso_participantes ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_curso_participantes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_customuser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_customuser (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    cargo character varying(255),
    fecha_contratacion date,
    foto_perfil character varying(100),
    rut character varying(12),
    empresa_id bigint,
    direccion character varying(255),
    horario_asignado character varying(20),
    salud character varying(30),
    telefono character varying(15),
    fecha_nacimiento date,
    afp character varying(30),
    area_id bigint,
    genero character varying(10),
    segundo_apellido character varying(30),
    segundo_nombre character varying(30),
    certificado_afp character varying(100),
    certificado_salud character varying(100)
);


ALTER TABLE public.gestiones_customuser OWNER TO postgres;

--
-- Name: gestiones_customuser_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_customuser_groups (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.gestiones_customuser_groups OWNER TO postgres;

--
-- Name: gestiones_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_customuser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_customuser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_customuser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_customuser_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.gestiones_customuser_user_permissions OWNER TO postgres;

--
-- Name: gestiones_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_denuncia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_denuncia (
    id bigint NOT NULL,
    motivo character varying(255) NOT NULL,
    descripcion text NOT NULL,
    evidencias character varying(100),
    contacto_urgencia character varying(100) NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    denunciado_id bigint NOT NULL,
    denunciante_id bigint NOT NULL,
    estado character varying(50) NOT NULL,
    fecha_limite date,
    prioridad character varying(50) NOT NULL
);


ALTER TABLE public.gestiones_denuncia OWNER TO postgres;

--
-- Name: gestiones_denuncia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_denuncia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_denuncia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_descargadocumento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_descargadocumento (
    id bigint NOT NULL,
    fecha_descarga timestamp with time zone NOT NULL,
    documento_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.gestiones_descargadocumento OWNER TO postgres;

--
-- Name: gestiones_descargadocumento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_descargadocumento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_descargadocumento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_documentoempresa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_documentoempresa (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    descripcion text,
    archivo character varying(100) NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    creado_por_id bigint NOT NULL
);


ALTER TABLE public.gestiones_documentoempresa OWNER TO postgres;

--
-- Name: gestiones_documentoempresa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_documentoempresa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_documentoempresa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_empresa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_empresa (
    id bigint NOT NULL,
    nombre character varying(255) NOT NULL,
    razon_social character varying(255) NOT NULL,
    rut character varying(12) NOT NULL,
    giro character varying(255) NOT NULL,
    cantidad_personal integer NOT NULL,
    direccion character varying(255) NOT NULL
);


ALTER TABLE public.gestiones_empresa OWNER TO postgres;

--
-- Name: gestiones_empresa_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_empresa ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_empresa_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_evidenciadenuncia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_evidenciadenuncia (
    id bigint NOT NULL,
    archivo character varying(100) NOT NULL,
    denuncia_id bigint NOT NULL
);


ALTER TABLE public.gestiones_evidenciadenuncia OWNER TO postgres;

--
-- Name: gestiones_evidenciadenuncia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_evidenciadenuncia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_evidenciadenuncia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_notadenuncia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_notadenuncia (
    id bigint NOT NULL,
    nota text NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    denuncia_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.gestiones_notadenuncia OWNER TO postgres;

--
-- Name: gestiones_notadenuncia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_notadenuncia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_notadenuncia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_progresoparticipante; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_progresoparticipante (
    id bigint NOT NULL,
    progreso integer NOT NULL,
    curso_id bigint NOT NULL,
    participante_id bigint NOT NULL,
    CONSTRAINT gestiones_progresoparticipante_progreso_check CHECK ((progreso >= 0))
);


ALTER TABLE public.gestiones_progresoparticipante OWNER TO postgres;

--
-- Name: gestiones_progresoparticipante_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_progresoparticipante ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_progresoparticipante_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_publicacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_publicacion (
    id bigint NOT NULL,
    titulo character varying(255) NOT NULL,
    contenido text NOT NULL,
    fecha_creacion timestamp with time zone NOT NULL,
    autor_id bigint NOT NULL,
    imagen character varying(100)
);


ALTER TABLE public.gestiones_publicacion OWNER TO postgres;

--
-- Name: gestiones_publicacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_publicacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_publicacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_solicitud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_solicitud (
    id bigint NOT NULL,
    tipo character varying(50) NOT NULL,
    descripcion text,
    fecha_creacion date NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    estado character varying(50) NOT NULL,
    colaborador_id bigint NOT NULL
);


ALTER TABLE public.gestiones_solicitud OWNER TO postgres;

--
-- Name: gestiones_solicitud_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_solicitud ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_solicitud_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestiones_solicitudvacaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestiones_solicitudvacaciones (
    id bigint NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    dias_habiles integer NOT NULL,
    estado character varying(20) NOT NULL,
    motivo text,
    fecha_creacion timestamp with time zone NOT NULL,
    colaborador_id bigint NOT NULL
);


ALTER TABLE public.gestiones_solicitudvacaciones OWNER TO postgres;

--
-- Name: gestiones_solicitudvacaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestiones_solicitudvacaciones ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestiones_solicitudvacaciones_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
1	supervisores
2	colaboradores
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
y9spkm4hwpwiki9jnaijz1ehd0ojmy5e	.eJxVjDsOwjAQBe_iGln-rBcvJX3OYPmzwgFkS3FSIe4OkVJA-2bmvUSI21rDNngJcxEXAeL0u6WYH9x2UO6x3brMva3LnOSuyIMOOfXCz-vh_h3UOOq3RvJZWaBkUBMD4TkjGrCkLSVvlSFXtHIeIbkCCaPVDCp6Q9mzIRbvD5r6Nj0:1tJdu5:tBZxhHSZpXmWRy-eZEyB8G1hXT_8Op4l1aAgD8WTLPM	2024-12-20 16:22:17.727472-03
\.


--
-- Data for Name: gestiones_area; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_area (id, nombre, empresa_id) FROM stdin;
1	Recursos Humanos	1
2	TI	1
3	Operaciones	1
4	Recursos Humanos	2
5	TI	2
6	Operaciones	2
\.


--
-- Data for Name: gestiones_asistencia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_asistencia (id, fecha, hora_entrada, hora_salida, colaborador_id) FROM stdin;
1	2024-11-26	19:40:56.703714	\N	7
2	2024-11-26	19:59:58.138507	20:00:01.081436	5
3	2024-11-26	20:08:18.538533	20:08:21.029382	4
4	2024-11-27	19:06:37.086888	19:09:58.363001	4
5	2024-11-27	19:06:51.759595	19:10:21.154874	5
6	2024-11-27	19:09:07.71661	19:10:51.378663	6
7	2024-12-05	23:12:20.654867	23:12:24.867481	10
8	2024-12-07	11:30:20.000828	11:30:23.951306	6
\.


--
-- Data for Name: gestiones_beneficio; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestiones_cargafamiliar; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_cargafamiliar (id, nombre, apellido, rut, parentesco, fecha_nacimiento, usuario_id, archivo, tipo_certificado) FROM stdin;
1	Valentino	Cespedes	28445876-5	hijo/a	2024-05-19	4	\N	\N
2	Gabriela	Ahumada	20147098-6	conviviente	2000-10-03	5	\N	\N
\.


--
-- Data for Name: gestiones_curso; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_curso (id, nombre, descripcion, supervisor_id) FROM stdin;
1	Introducci├│n a Buenas Costumbres	Primer Curso	2
2	TI	TI	6
3	TI	capacitaci├│n	6
\.


--
-- Data for Name: gestiones_curso_participantes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_curso_participantes (id, curso_id, customuser_id) FROM stdin;
\.


--
-- Data for Name: gestiones_customuser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestiones_customuser_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_customuser_groups (id, customuser_id, group_id) FROM stdin;
1	2	1
2	3	1
3	4	1
4	5	2
5	6	1
6	7	2
7	8	2
8	9	2
9	10	2
10	11	2
\.


--
-- Data for Name: gestiones_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Data for Name: gestiones_denuncia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_denuncia (id, motivo, descripcion, evidencias, contacto_urgencia, fecha_creacion, denunciado_id, denunciante_id, estado, fecha_limite, prioridad) FROM stdin;
1	Burlas	Ayer en el casino		958789830	2024-11-26 19:57:32.970654-03	5	4	revision	\N	media
2	Agresi├│n	HAce 2 D├¡as en el patio		987342329	2024-11-26 19:59:39.39347-03	7	5	resuelta	\N	media
3	Agresi├│n	hola		987342329	2024-11-27 19:44:22.913279-03	7	6	pendiente	\N	media
\.


--
-- Data for Name: gestiones_descargadocumento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_descargadocumento (id, fecha_descarga, documento_id, usuario_id) FROM stdin;
1	2024-12-02 22:31:39.499143-03	1	4
\.


--
-- Data for Name: gestiones_documentoempresa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_documentoempresa (id, titulo, descripcion, archivo, fecha_creacion, creado_por_id) FROM stdin;
1	Manual de Convivencia	Primera Edici├│n	documentos_empresa/ieee830.pdf	2024-11-26 19:56:05.952128-03	2
2	Manual de Convivencia	hola	documentos_empresa/Comprobante_Solicitud_2.pdf	2024-11-27 19:49:09.529937-03	6
\.


--
-- Data for Name: gestiones_empresa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_empresa (id, nombre, razon_social, rut, giro, cantidad_personal, direccion) FROM stdin;
1	Cesta SPA	Cesta SPA	13.699.732-7	Art├¡culos de Entrenamiento Personal	20	Av El Bosque Sur 123
2	consorcio	Consorcio Seguros S.A.	14.060.664-2	Seguros de Vida	120	AV Lago Villarrica 2883
\.


--
-- Data for Name: gestiones_evidenciadenuncia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_evidenciadenuncia (id, archivo, denuncia_id) FROM stdin;
1	evidencias_denuncias/12_destinos_feste.jpg	2
\.


--
-- Data for Name: gestiones_notadenuncia; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_notadenuncia (id, nota, fecha_creacion, denuncia_id, usuario_id) FROM stdin;
1	Fue Ayer	2024-11-26 19:57:51.57225-03	1	4
\.


--
-- Data for Name: gestiones_progresoparticipante; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_progresoparticipante (id, progreso, curso_id, participante_id) FROM stdin;
\.


--
-- Data for Name: gestiones_publicacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_publicacion (id, titulo, contenido, fecha_creacion, autor_id, imagen) FROM stdin;
1	Fiesta De Navidad	Celebraci├│n d├¡a 24 de diciembre en patio central!.	2024-11-26 19:51:41.701611-03	2	publicaciones/el-origen-del.webp
2	A├▒o Nuevo	Cesta SPA les desea un prospero a├▒o nuevo.	2024-11-26 19:52:35.063058-03	2	publicaciones/12_destinos_feste.jpg
3	Canal de Youtube	S├¡guenos en nuestro canal de Youtube. https://www.youtube.com/	2024-11-26 19:53:56.318361-03	2	publicaciones/yt_1200.png
\.


--
-- Data for Name: gestiones_solicitud; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestiones_solicitud (id, tipo, descripcion, fecha_creacion, fecha_inicio, fecha_fin, estado, colaborador_id) FROM stdin;
1	tramite	Baile de mi hijo	2024-11-26	2024-12-06	2024-12-06	pendiente	7
4	otra	Mudanza	2024-11-26	2024-12-05	2024-12-05	pendiente	5
2	tramite	Permiso	2024-11-26	2024-11-27	2024-11-27	aprobada	5
3	cumpleanos_hijo	Viernes	2024-11-26	2024-11-29	2024-11-29	rechazada	5
5	cumpleanos_hijo	jisjijsi	2024-12-06	2024-12-18	2024-12-19	pendiente	6
\.


--
-- Data for Name: gestiones_solicitudvacaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 2, true);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 104, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 15, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 26, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 60, true);


--
-- Name: gestiones_area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_area_id_seq', 6, true);


--
-- Name: gestiones_asistencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_asistencia_id_seq', 8, true);


--
-- Name: gestiones_beneficio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_beneficio_id_seq', 6, true);


--
-- Name: gestiones_cargafamiliar_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_cargafamiliar_id_seq', 2, true);


--
-- Name: gestiones_curso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_curso_id_seq', 3, true);


--
-- Name: gestiones_curso_participantes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_curso_participantes_id_seq', 1, false);


--
-- Name: gestiones_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_customuser_groups_id_seq', 10, true);


--
-- Name: gestiones_customuser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_customuser_id_seq', 11, true);


--
-- Name: gestiones_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_customuser_user_permissions_id_seq', 1, false);


--
-- Name: gestiones_denuncia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_denuncia_id_seq', 3, true);


--
-- Name: gestiones_descargadocumento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_descargadocumento_id_seq', 1, true);


--
-- Name: gestiones_documentoempresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_documentoempresa_id_seq', 2, true);


--
-- Name: gestiones_empresa_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_empresa_id_seq', 2, true);


--
-- Name: gestiones_evidenciadenuncia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_evidenciadenuncia_id_seq', 1, true);


--
-- Name: gestiones_notadenuncia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_notadenuncia_id_seq', 1, true);


--
-- Name: gestiones_progresoparticipante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_progresoparticipante_id_seq', 1, false);


--
-- Name: gestiones_publicacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_publicacion_id_seq', 3, true);


--
-- Name: gestiones_solicitud_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_solicitud_id_seq', 5, true);


--
-- Name: gestiones_solicitudvacaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestiones_solicitudvacaciones_id_seq', 8, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: gestiones_area gestiones_area_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_area
    ADD CONSTRAINT gestiones_area_pkey PRIMARY KEY (id);


--
-- Name: gestiones_asistencia gestiones_asistencia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_asistencia
    ADD CONSTRAINT gestiones_asistencia_pkey PRIMARY KEY (id);


--
-- Name: gestiones_beneficio gestiones_beneficio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_beneficio
    ADD CONSTRAINT gestiones_beneficio_pkey PRIMARY KEY (id);


--
-- Name: gestiones_cargafamiliar gestiones_cargafamiliar_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_cargafamiliar
    ADD CONSTRAINT gestiones_cargafamiliar_pkey PRIMARY KEY (id);


--
-- Name: gestiones_curso_participantes gestiones_curso_particip_curso_id_customuser_id_97665a31_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_curso_participantes
    ADD CONSTRAINT gestiones_curso_particip_curso_id_customuser_id_97665a31_uniq UNIQUE (curso_id, customuser_id);


--
-- Name: gestiones_curso_participantes gestiones_curso_participantes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_curso_participantes
    ADD CONSTRAINT gestiones_curso_participantes_pkey PRIMARY KEY (id);


--
-- Name: gestiones_curso gestiones_curso_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_curso
    ADD CONSTRAINT gestiones_curso_pkey PRIMARY KEY (id);


--
-- Name: gestiones_customuser_groups gestiones_customuser_gro_customuser_id_group_id_c3ff099b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_groups
    ADD CONSTRAINT gestiones_customuser_gro_customuser_id_group_id_c3ff099b_uniq UNIQUE (customuser_id, group_id);


--
-- Name: gestiones_customuser_groups gestiones_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_groups
    ADD CONSTRAINT gestiones_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: gestiones_customuser gestiones_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser
    ADD CONSTRAINT gestiones_customuser_pkey PRIMARY KEY (id);


--
-- Name: gestiones_customuser gestiones_customuser_rut_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser
    ADD CONSTRAINT gestiones_customuser_rut_key UNIQUE (rut);


--
-- Name: gestiones_customuser_user_permissions gestiones_customuser_use_customuser_id_permission_581e2706_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_user_permissions
    ADD CONSTRAINT gestiones_customuser_use_customuser_id_permission_581e2706_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: gestiones_customuser_user_permissions gestiones_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_user_permissions
    ADD CONSTRAINT gestiones_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: gestiones_customuser gestiones_customuser_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser
    ADD CONSTRAINT gestiones_customuser_username_key UNIQUE (username);


--
-- Name: gestiones_denuncia gestiones_denuncia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_denuncia
    ADD CONSTRAINT gestiones_denuncia_pkey PRIMARY KEY (id);


--
-- Name: gestiones_descargadocumento gestiones_descargadocumento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_descargadocumento
    ADD CONSTRAINT gestiones_descargadocumento_pkey PRIMARY KEY (id);


--
-- Name: gestiones_documentoempresa gestiones_documentoempresa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_documentoempresa
    ADD CONSTRAINT gestiones_documentoempresa_pkey PRIMARY KEY (id);


--
-- Name: gestiones_empresa gestiones_empresa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_empresa
    ADD CONSTRAINT gestiones_empresa_pkey PRIMARY KEY (id);


--
-- Name: gestiones_evidenciadenuncia gestiones_evidenciadenuncia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_evidenciadenuncia
    ADD CONSTRAINT gestiones_evidenciadenuncia_pkey PRIMARY KEY (id);


--
-- Name: gestiones_notadenuncia gestiones_notadenuncia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_notadenuncia
    ADD CONSTRAINT gestiones_notadenuncia_pkey PRIMARY KEY (id);


--
-- Name: gestiones_progresoparticipante gestiones_progresoparticipante_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_progresoparticipante
    ADD CONSTRAINT gestiones_progresoparticipante_pkey PRIMARY KEY (id);


--
-- Name: gestiones_publicacion gestiones_publicacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_publicacion
    ADD CONSTRAINT gestiones_publicacion_pkey PRIMARY KEY (id);


--
-- Name: gestiones_solicitud gestiones_solicitud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_solicitud
    ADD CONSTRAINT gestiones_solicitud_pkey PRIMARY KEY (id);


--
-- Name: gestiones_solicitudvacaciones gestiones_solicitudvacaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_solicitudvacaciones
    ADD CONSTRAINT gestiones_solicitudvacaciones_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: gestiones_area_empresa_id_220350fc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_area_empresa_id_220350fc ON public.gestiones_area USING btree (empresa_id);


--
-- Name: gestiones_asistencia_colaborador_id_b834afbb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_asistencia_colaborador_id_b834afbb ON public.gestiones_asistencia USING btree (colaborador_id);


--
-- Name: gestiones_beneficio_creado_por_id_970dec20; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_beneficio_creado_por_id_970dec20 ON public.gestiones_beneficio USING btree (creado_por_id);


--
-- Name: gestiones_cargafamiliar_usuario_id_174f004d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_cargafamiliar_usuario_id_174f004d ON public.gestiones_cargafamiliar USING btree (usuario_id);


--
-- Name: gestiones_curso_participantes_curso_id_b4cb666c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_curso_participantes_curso_id_b4cb666c ON public.gestiones_curso_participantes USING btree (curso_id);


--
-- Name: gestiones_curso_participantes_customuser_id_a99fcd19; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_curso_participantes_customuser_id_a99fcd19 ON public.gestiones_curso_participantes USING btree (customuser_id);


--
-- Name: gestiones_curso_supervisor_id_3099bb16; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_curso_supervisor_id_3099bb16 ON public.gestiones_curso USING btree (supervisor_id);


--
-- Name: gestiones_customuser_area_id_1757da53; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_area_id_1757da53 ON public.gestiones_customuser USING btree (area_id);


--
-- Name: gestiones_customuser_empresa_id_28aebcd8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_empresa_id_28aebcd8 ON public.gestiones_customuser USING btree (empresa_id);


--
-- Name: gestiones_customuser_groups_customuser_id_2e1aba8a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_groups_customuser_id_2e1aba8a ON public.gestiones_customuser_groups USING btree (customuser_id);


--
-- Name: gestiones_customuser_groups_group_id_dcc96748; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_groups_group_id_dcc96748 ON public.gestiones_customuser_groups USING btree (group_id);


--
-- Name: gestiones_customuser_rut_e13988b9_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_rut_e13988b9_like ON public.gestiones_customuser USING btree (rut varchar_pattern_ops);


--
-- Name: gestiones_customuser_user_permissions_customuser_id_32338dae; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_user_permissions_customuser_id_32338dae ON public.gestiones_customuser_user_permissions USING btree (customuser_id);


--
-- Name: gestiones_customuser_user_permissions_permission_id_28e82ceb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_user_permissions_permission_id_28e82ceb ON public.gestiones_customuser_user_permissions USING btree (permission_id);


--
-- Name: gestiones_customuser_username_fa8d354a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_customuser_username_fa8d354a_like ON public.gestiones_customuser USING btree (username varchar_pattern_ops);


--
-- Name: gestiones_denuncia_denunciado_id_ad6be770; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_denuncia_denunciado_id_ad6be770 ON public.gestiones_denuncia USING btree (denunciado_id);


--
-- Name: gestiones_denuncia_denunciante_id_7b6bda22; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_denuncia_denunciante_id_7b6bda22 ON public.gestiones_denuncia USING btree (denunciante_id);


--
-- Name: gestiones_descargadocumento_documento_id_70f672a6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_descargadocumento_documento_id_70f672a6 ON public.gestiones_descargadocumento USING btree (documento_id);


--
-- Name: gestiones_descargadocumento_usuario_id_e31ba2d4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_descargadocumento_usuario_id_e31ba2d4 ON public.gestiones_descargadocumento USING btree (usuario_id);


--
-- Name: gestiones_documentoempresa_creado_por_id_8de8fc78; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_documentoempresa_creado_por_id_8de8fc78 ON public.gestiones_documentoempresa USING btree (creado_por_id);


--
-- Name: gestiones_evidenciadenuncia_denuncia_id_c4e205c3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_evidenciadenuncia_denuncia_id_c4e205c3 ON public.gestiones_evidenciadenuncia USING btree (denuncia_id);


--
-- Name: gestiones_notadenuncia_denuncia_id_f5d7d591; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_notadenuncia_denuncia_id_f5d7d591 ON public.gestiones_notadenuncia USING btree (denuncia_id);


--
-- Name: gestiones_notadenuncia_usuario_id_ecf06d0c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_notadenuncia_usuario_id_ecf06d0c ON public.gestiones_notadenuncia USING btree (usuario_id);


--
-- Name: gestiones_progresoparticipante_curso_id_89bafdb7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_progresoparticipante_curso_id_89bafdb7 ON public.gestiones_progresoparticipante USING btree (curso_id);


--
-- Name: gestiones_progresoparticipante_participante_id_51d21444; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_progresoparticipante_participante_id_51d21444 ON public.gestiones_progresoparticipante USING btree (participante_id);


--
-- Name: gestiones_publicacion_autor_id_7beba4b8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_publicacion_autor_id_7beba4b8 ON public.gestiones_publicacion USING btree (autor_id);


--
-- Name: gestiones_solicitud_colaborador_id_ee4011af; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_solicitud_colaborador_id_ee4011af ON public.gestiones_solicitud USING btree (colaborador_id);


--
-- Name: gestiones_solicitudvacaciones_colaborador_id_9d725e47; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestiones_solicitudvacaciones_colaborador_id_9d725e47 ON public.gestiones_solicitudvacaciones USING btree (colaborador_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_gestiones_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_gestiones_customuser_id FOREIGN KEY (user_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_area gestiones_area_empresa_id_220350fc_fk_gestiones_empresa_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_area
    ADD CONSTRAINT gestiones_area_empresa_id_220350fc_fk_gestiones_empresa_id FOREIGN KEY (empresa_id) REFERENCES public.gestiones_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_asistencia gestiones_asistencia_colaborador_id_b834afbb_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_asistencia
    ADD CONSTRAINT gestiones_asistencia_colaborador_id_b834afbb_fk_gestiones FOREIGN KEY (colaborador_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_beneficio gestiones_beneficio_creado_por_id_970dec20_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_beneficio
    ADD CONSTRAINT gestiones_beneficio_creado_por_id_970dec20_fk_gestiones FOREIGN KEY (creado_por_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_cargafamiliar gestiones_cargafamil_usuario_id_174f004d_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_cargafamiliar
    ADD CONSTRAINT gestiones_cargafamil_usuario_id_174f004d_fk_gestiones FOREIGN KEY (usuario_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_curso_participantes gestiones_curso_part_curso_id_b4cb666c_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_curso_participantes
    ADD CONSTRAINT gestiones_curso_part_curso_id_b4cb666c_fk_gestiones FOREIGN KEY (curso_id) REFERENCES public.gestiones_curso(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_curso_participantes gestiones_curso_part_customuser_id_a99fcd19_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_curso_participantes
    ADD CONSTRAINT gestiones_curso_part_customuser_id_a99fcd19_fk_gestiones FOREIGN KEY (customuser_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_curso gestiones_curso_supervisor_id_3099bb16_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_curso
    ADD CONSTRAINT gestiones_curso_supervisor_id_3099bb16_fk_gestiones FOREIGN KEY (supervisor_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_customuser gestiones_customuser_area_id_1757da53_fk_gestiones_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser
    ADD CONSTRAINT gestiones_customuser_area_id_1757da53_fk_gestiones_area_id FOREIGN KEY (area_id) REFERENCES public.gestiones_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_customuser_groups gestiones_customuser_customuser_id_2e1aba8a_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_groups
    ADD CONSTRAINT gestiones_customuser_customuser_id_2e1aba8a_fk_gestiones FOREIGN KEY (customuser_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_customuser_user_permissions gestiones_customuser_customuser_id_32338dae_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_user_permissions
    ADD CONSTRAINT gestiones_customuser_customuser_id_32338dae_fk_gestiones FOREIGN KEY (customuser_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_customuser gestiones_customuser_empresa_id_28aebcd8_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser
    ADD CONSTRAINT gestiones_customuser_empresa_id_28aebcd8_fk_gestiones FOREIGN KEY (empresa_id) REFERENCES public.gestiones_empresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_customuser_groups gestiones_customuser_groups_group_id_dcc96748_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_groups
    ADD CONSTRAINT gestiones_customuser_groups_group_id_dcc96748_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_customuser_user_permissions gestiones_customuser_permission_id_28e82ceb_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_customuser_user_permissions
    ADD CONSTRAINT gestiones_customuser_permission_id_28e82ceb_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_denuncia gestiones_denuncia_denunciado_id_ad6be770_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_denuncia
    ADD CONSTRAINT gestiones_denuncia_denunciado_id_ad6be770_fk_gestiones FOREIGN KEY (denunciado_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_denuncia gestiones_denuncia_denunciante_id_7b6bda22_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_denuncia
    ADD CONSTRAINT gestiones_denuncia_denunciante_id_7b6bda22_fk_gestiones FOREIGN KEY (denunciante_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_descargadocumento gestiones_descargado_documento_id_70f672a6_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_descargadocumento
    ADD CONSTRAINT gestiones_descargado_documento_id_70f672a6_fk_gestiones FOREIGN KEY (documento_id) REFERENCES public.gestiones_documentoempresa(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_descargadocumento gestiones_descargado_usuario_id_e31ba2d4_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_descargadocumento
    ADD CONSTRAINT gestiones_descargado_usuario_id_e31ba2d4_fk_gestiones FOREIGN KEY (usuario_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_documentoempresa gestiones_documentoe_creado_por_id_8de8fc78_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_documentoempresa
    ADD CONSTRAINT gestiones_documentoe_creado_por_id_8de8fc78_fk_gestiones FOREIGN KEY (creado_por_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_evidenciadenuncia gestiones_evidenciad_denuncia_id_c4e205c3_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_evidenciadenuncia
    ADD CONSTRAINT gestiones_evidenciad_denuncia_id_c4e205c3_fk_gestiones FOREIGN KEY (denuncia_id) REFERENCES public.gestiones_denuncia(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_notadenuncia gestiones_notadenunc_denuncia_id_f5d7d591_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_notadenuncia
    ADD CONSTRAINT gestiones_notadenunc_denuncia_id_f5d7d591_fk_gestiones FOREIGN KEY (denuncia_id) REFERENCES public.gestiones_denuncia(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_notadenuncia gestiones_notadenunc_usuario_id_ecf06d0c_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_notadenuncia
    ADD CONSTRAINT gestiones_notadenunc_usuario_id_ecf06d0c_fk_gestiones FOREIGN KEY (usuario_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_progresoparticipante gestiones_progresopa_curso_id_89bafdb7_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_progresoparticipante
    ADD CONSTRAINT gestiones_progresopa_curso_id_89bafdb7_fk_gestiones FOREIGN KEY (curso_id) REFERENCES public.gestiones_curso(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_progresoparticipante gestiones_progresopa_participante_id_51d21444_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_progresoparticipante
    ADD CONSTRAINT gestiones_progresopa_participante_id_51d21444_fk_gestiones FOREIGN KEY (participante_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_publicacion gestiones_publicacio_autor_id_7beba4b8_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_publicacion
    ADD CONSTRAINT gestiones_publicacio_autor_id_7beba4b8_fk_gestiones FOREIGN KEY (autor_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_solicitud gestiones_solicitud_colaborador_id_ee4011af_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_solicitud
    ADD CONSTRAINT gestiones_solicitud_colaborador_id_ee4011af_fk_gestiones FOREIGN KEY (colaborador_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestiones_solicitudvacaciones gestiones_solicitudv_colaborador_id_9d725e47_fk_gestiones; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestiones_solicitudvacaciones
    ADD CONSTRAINT gestiones_solicitudv_colaborador_id_9d725e47_fk_gestiones FOREIGN KEY (colaborador_id) REFERENCES public.gestiones_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

