{% extends "base.html" %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-lg-10 col-md-12">
        <div class="card p-5" style="border-radius: 20px; background-color: #ffffff; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);">
            <h1 class="text-center mb-4">Gestionar Solicitud de Vacaciones</h1>
            <div class="container mt-5">
                <p>Colaborador: {{ solicitud.colaborador.username }}</p>
                <p>Estado: {{ solicitud.get_estado_display }}</p>
                <p>Descripción: {{ solicitud.descripcion }}</p>
                <p>Fecha Inicio: {{ solicitud.fecha_inicio }}</p>
                <p>Fecha Fin: {{ solicitud.fecha_fin }}</p>
                <p>Cantidad de días Solicitados: {{ solicitud.dias_habiles }}</p>
                <form method="POST" style="text-align: center">
                    {% csrf_token %}
                    <button name="aprobar" type="submit" class="btn btn-success">Aprobar</button>
                    <button name="rechazar" type="submit" class="btn btn-danger">Rechazar</button>
                </form>
                <div class="d-flex justify-content-center mt-4">
                    <a href="{% url 'home' %}" class="btn btn-secondary px-4" style="border-radius: 10px;">
                        <i class="fas fa-home"></i> Volver al Inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
