{% extends "base_apps.html" %}

{% block content %}
<div class="container mt-5">
    <h1>Editar Participantes para el Curso: {{ curso.nombre }}</h1>
    
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="participantes">Participantes:</label>
            {{ form.participantes }}
        </div>
        <button type="submit" class="btn btn-success">Guardar Cambios</button>
        <a href="{% url 'detalle_curso' curso.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
