{% extends "base.html" %}
{% load humanize %} <!-- Cargar el módulo humanize -->

{% block content %}
<h1 class="text-center mb-4" style="font-weight: bold;">Visualización de Liquidaciones</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Mes</th>
            <th>Año</th>
            <th>Empleado</th>
            <th>Sueldo Base</th>
            <th>Gratificación</th>
            <th>Colación</th>
            <th>Movilización</th>
            <th>AFP</th>
            <th>Salud</th>
            <th>Seguro Mutual</th>
            <th>Sueldo Líquido</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for liquidacion in liquidaciones %}
        <tr>
            <td>{{ liquidacion.get_mes_display }}</td>
            <td>{{ liquidacion.año }}</td>
            <td>{{ liquidacion.usuario.username }}</td>
            <td>${{ liquidacion.sueldo_base|intcomma }}</td>
            <td>${{ liquidacion.gratificacion|intcomma }}</td>
            <td>${{ liquidacion.colacion|intcomma }}</td>
            <td>${{ liquidacion.movilizacion|intcomma }}</td>
            <td>${{ liquidacion.afp|intcomma }}</td>
            <td>${{ liquidacion.salud|intcomma }}</td>
            <td>${{ liquidacion.seguro_mutual|intcomma }}</td>
            <td>${{ liquidacion.sueldo_liquido|intcomma }}</td>
            <td>
                <a href="{% url 'descargar_liquidacion' liquidacion.pk %}" class="btn btn-info btn-sm" target="_blank">Descargar</a>
                <a href="{% url 'editar_liquidacion' liquidacion.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'eliminar_liquidacion' liquidacion.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <a href="{% url 'crear_liquidacion' %}" class="btn btn-primary px-4 py-2" style="border-radius: 10px; font-weight: 600;">
        <i class="fas fa-plus"></i> Nueva Liquidación
    </a>
</div>
<div class="d-flex justify-content-center mt-4">
    <a href="{% url 'home' %}" class="btn btn-secondary px-4" style="border-radius: 10px;"><i class="fas fa-home"></i> Volver al Inicio</a>
</div>
{% endblock %}
