{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet"> <!-- Fuente personalizada -->
    <title>Inicio de Sesión</title>
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <div class="card-body text-center">
                <img src="{% static 'img/banner.png' %}" alt="Logo" style="width: 350px; margin-bottom: 20px;">

                <h1 class="card-title">Iniciar sesión</h1>

                {% if form.errors %}
                <div class="alert alert-danger" style="color: #721c24; background-color: #f8d7da; border: 1px solid #f5c6cb; padding: 15px; border-radius: 5px;">
                    <ul style="list-style-type: none; padding: 0;">
                        {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

                <form method="post" action="" style="width: 100%;" >
                    {% csrf_token %}
                    <div class="form-group" style="width: 98%; margin-bottom: 10px;">
                        <label for="username">Nombre de usuario:</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="text-danger" style="color: #721c24;">{{ form.username.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="form-group" style="width: 98%; margin-bottom: 20px;">
                        <label for="password">Contraseña:</label>
                        {{ form.password }}
                        {% if form.password.errors %}
                            <div class="text-danger" style="color: #721c24;">{{ form.password.errors.0 }}</div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn-outline-light-Ingresa">Iniciar sesión</button>
                </form>

                <!-- Enlace para recuperar la contraseña -->
                <a href="{% url 'password_reset' %}" class="forgot-password-link btn-outline-light-Contacto">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
    
</body>
</html>
