{% extends "base.html" %}
{% load static %}
{% block title %}Registrar Usuario{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-lg-10 col-md-12">
        <div class="card p-5" style="border-radius: 20px; background-color: #ffffff; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);">
            <h1 class="text-center mb-4">Registrar Usuario</h1>
            {% if messages %}
                <div class="container mb-3">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="card mb-4 p-4" style="border-radius: 15px; background-color: #f8f9fa;">
                    <h5 class="mb-3"><i class="fas fa-user"></i> Información Personal</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.username.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.rut.label_tag }}
                                {{ form.rut }}
                                {{ form.rut.errors }}

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.last_name.label_tag }}
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                                {{ form.email.errors }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                {{ form.area.label_tag }}
                                {{ form.area }}
                                {{ form.area.errors }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.fecha_nacimiento.label_tag }}
                                {{ form.fecha_nacimiento }}
                                {% if form.fecha_nacimiento.errors %}
                                    <div class="text-danger">
                                        {{ form.fecha_nacimiento.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.telefono.label_tag }}
                                {{ form.telefono }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group mb-3">
                                {{ form.direccion.label_tag }}
                                {{ form.direccion }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.genero.label_tag }}
                                {{ form.genero }}
                                {% if form.genero.errors %}
                                    <div class="text-danger">
                                        {{ form.genero.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 p-4" style="border-radius: 15px; background-color: #f8f9fa;">
                    <h5 class="mb-3"><i class="fas fa-briefcase"></i> Información del Trabajo</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.cargo.label_tag }}
                                {{ form.cargo }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.fecha_contratacion.label_tag }}
                                {{ form.fecha_contratacion }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.grupo.label_tag }}
                                {{ form.grupo }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.salud.label_tag }}
                                {{ form.salud }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.afp.label_tag }}
                                {{ form.afp }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.horario_asignado.label_tag }}
                                {{ form.horario_asignado }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Security Section -->
                <div class="card mb-4 p-4" style="border-radius: 15px; background-color: #f8f9fa;">
                    <h5 class="mb-3"><i class="fas fa-lock"></i> Seguridad</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password1.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mb-3">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    <div class="text-danger">
                                        {% for error in form.password2.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary px-4 d-flex align-items-center me-2" style="border-radius: 10px;">
                        <i class="fas fa-save me-1"></i> Guardar 
                    </button>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <a href="{% url 'home' %}" class="btn btn-secondary px-4" style="border-radius: 10px;"><i class="fas fa-home"></i> Volver al Inicio</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const today = new Date().toISOString().split("T")[0]; // Fecha actual en formato yyyy-MM-dd
        const fechaNacimientoInput = document.querySelector("#id_fecha_nacimiento");

        if (fechaNacimientoInput) {
            fechaNacimientoInput.setAttribute("max", today); // Establecer la fecha máxima permitida
        }
    });
</script>
{% endblock %}
