{% extends "base.html" %}
{% load custom_filters %}
{% load custom_tags %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-lg-10 col-md-12">
        <div class="card p-5" style="border-radius: 20px; background-color: #ffffff; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);">
            <h1 class="text-center mb-4">Seguimiento del Curso:</h1>
            <h1 class="text-center mb-4">{{ curso.nombre }}</h1>
            <hr>
            <br>
            <h2>Detalle del Curso</h2>
            <br>
            <p>{{ curso.descripcion }}</p>
            {% if user|is_supervisor %}
            <div>
                <a href="{% url 'editar_participantes' curso.id %}" class="btn btn-warning">Editar Participantes</a>
            </div>
            {% endif %}

            <h2 style="text-align: center">Progreso de Participantes</h2>
            {% for progreso in progresos %}
            <div class="mb-3">
                <h5>{{ progreso.participante.username }}: {{ progreso.progreso }}%</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" 
                        style="width: {{ progreso.progreso }}%; background-color: {{ progreso.progreso|get_bar_color }};" 
                        aria-valuenow="{{ progreso.progreso }}" aria-valuemin="0" aria-valuemax="100">
                        {{ progreso.progreso }}%
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay participantes registrados en este curso.</p>
            {% endfor %}
            {% if user|is_supervisor %}
            <div class="mt-4 text-center">
                <a href="{% url 'actualizar_progreso' curso.id %}" class="btn btn-primary btn-lg">
                    <i class="fas fa-edit"></i> Actualizar Progreso
                </a>
                <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-danger btn-lg">
                    <i class="fas fa-trash"></i>  Eliminar Curso
                </a>
            </div>
            {% endif %}
        </div>
        
        
    </div>
</div>
{% endblock %}
