{% extends "base_apps.html" %}

{% block content %}
<h2>Lista de Colaboradores</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Fecha de Nacimiento</th>
            <th>Fecha de Ingreso</th>
            <th>Cargo</th>
            <th>Empresa</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for colaborador in colaboradores %}
        <tr>
            <td>{{ colaborador.username }}</td>
            <td>{{colaborador.rut}}</td>
            <td>{{ colaborador.first_name }}</td>
            <td>{{ colaborador.last_name }}</td>
            <td>{{ colaborador.email }}</td>
            <td>{{ colaborador.telefono }}</td>
            <td>{{ colaborador.direccion }}</td>
            <td>{{ colaborador.fecha_nacimiento }}</td>
            <td>{{ colaborador.empresa }}</td>
            <td>{{ colaborador.cargo }}</td>
            <td>{{ colaborador.empresa }}</td>
            <td>
                <a href="{% url 'editar_colaborador' colaborador.pk %}" class="btn btn-link text-warning">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'eliminar_colaborador' colaborador.pk %}" class="btn btn-link text-danger">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-end">
    <a href="{% url 'exportar_colaboradores_excel' %}" class="btn btn-success">Exportar a Excel</a>
    <a href="{% url 'home' %}" class="btn btn">Home</a>
    <a href="{% url 'registrar_usuario' %}" class="btn btn-success">Nuevo Usuario</a>
</div>
{% endblock %}
